@(signupForm: play.api.data.Form[Application.Register], loginForm: play.api.data.Form[Application.Login])(implicit flash: play.api.mvc.Flash)

@scripts = {
    <script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
}

@main(null, scripts) {

  @wflash()
  <div class="col-lg-6 jumbotron">
      Welcome to Stock Manager. The place where you manage all your products, track stocks, transactions and profits.
  </div>

  <div class="col-lg-6">
    <div class="well">
      @login(loginForm)
    </div>

    <div class="well">
      @account.signup.createFormOnly(signupForm)
    </div>
  </div>
}